<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /retro-games/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /retro-games/index.html [L]
</IfModule>
